<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="code-container">
        <p class="code-container-language">${lang.replaceFirstChar { it.uppercaseChar() }} $htmlFileDisplay</p>
        $runCodeButton
        <button class="reset-button" id="reset-$blockId">Reset</button>
        <div id="$blockId" class="ace code-block">$codeFound</div>
        ${ if (supportedRunLang) """
        <div class="output-container">
            <p id="$blockId-run-result" class="run-result-text"></p>
            <textarea id="$blockId-output" class="code-output-text" readonly>Run the code to see it's output.</textarea>
        </div>
        """.trimIndent() else "" }
    </div>
</body>
</html>